@model List<Trakify.Domain.Entities.Trakify_Assets>
<p>
    <input type="button" class="btn btn-success" value="Create New" id="submit" onclick="Assets.OpenPopUp()">
</p>
@if (Model != null && Model.Count > 0)
{
    <div id="mainDiv">
        @*<p>
            <input type="button" class="btn btn-success" value="Create New" id="submit" onclick="Assets.OpenPopUp()">
        </p>*@
        <div class="feedback">

        </div>

        <table class="table" id="tblAssets">
            <thead>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Serial No.</b></th>
                    <th><b>Acquired On</b></th>
                    <th><b>Description</b></th>
                    <th><b>Brand</b></th>
                    <th><b>Cost</b></th>
                    <th><b>Operations</b></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetAcquiredDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            <div class="row">
                                <button class="btn btn-primary col-sm-3" id="m" type="button" onclick="Assets.OpenEditModal(@item.Id)">Edit</button>
                                <button class="btn btn-primary offset-1 col-sm-3" type="button" onclick="Assets.OpenDetailsModal(@item.Id)">Details</button>
                                <button class="btn btn-primary offset-1 col-sm-3" type="button" onclick="Assets.Delete('@item.Id','@item.Name')">Delete</button>
                            </div>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <p>No Data is present</p>
}

